<!-- Copyright © 2021 Rick Beerendonk -->

<header>
  <!-- Step 5: Use switch -->
  @switch (firstLanguage)
  {
    case "NL":
      <h1>@toLanguage - @fromLanguage</h1>
      break;
    default:
      <h1>@fromLanguage - @toLanguage</h1>
      break;
  }
</header>

<main>
  <section>
    <ol>
      @if (firstLanguage == "NL")
      {
        @for (int i = 0; i < words.Length; i++)
        {
          <li>@words[i].NL - @words[i].EN</li>
        }
      }
      else
      {
        @foreach (var word in words)
        {
          <li>@word.EN - @word.NL</li>
        }
      }
    </ol>

    <button @onclick="SwitchLanguage">Switch languages</button>
  </section>

  <section>
    Progress:
    <progress max="100" value="@progress"></progress>
    <button 
      @onclick="() => progress++"
      disabled="@(progress >= 100)"
      class="@(this.progress >= 90 && this.progress < 100 ? "progress-almost-done" : "")"
    >+1</button>
    <button 
      @onclick="ProgressPlusTen" 
      disabled="@(progress > 90)"
      class="@(this.progress >= 90 && this.progress < 100 ? "progress-almost-done" : "")"
    >+10</button>
  </section>
</main>

<footer>Copyright <span id="year">@year</span></footer>

@code {
  private class Word {
    public string EN { get; set; }
    public string NL { get; set; }
  }

  private string fromLanguage = "English";
  private string toLanguage = "Nederlands";
  private Word[] words = { 
    new Word { EN = "one", NL = "een" },
    new Word { EN = "two", NL = "twee" },
    new Word { EN = "three", NL = "drie" }
  };
  private int progress = 0;

  // Step 5: Use switch
  private string firstLanguage = "EN";

  private int year = DateTime.Now.Year;

  private void ProgressPlusTen() {
    this.progress += 10;
  }

  private void SwitchLanguage() {
    firstLanguage = firstLanguage == "EN" ? "NL" : "EN";
  }
}
